/*CSS style for term project by Connor Wharton*/

#image1
{border: 5px solid black;}

#link1{
    border-left: 25px solid black;}

body{background-color: #D9D9D9;}

body{color: #353535;}

h1{color: #284B63;
text-align: right;
background-color: cadetblue;
padding: 10px;}
a{color: #3E6C71;} 

a{border-left-color: #3E6C71;}